/* radio sorting */
//사이즈 정의
@mixin form-sort-size-variable() {
	//변수 배열 생성
	$form-sort-size: (
		small: (
			padding-x: var(--krds-padding-1),
			radius: var(--krds-radius-small2),
			pc-font-size: var(--krds-pc-font-size-label-small),
			mobile-font-size: var(--krds-mobile-font-size-label-small),
		),
		medium: (
			padding-x: var(--krds-padding-2),
			radius: var(--krds-radius-small2),
			pc-font-size: var(--krds-pc-font-size-label-medium),
			mobile-font-size: var(--krds-mobile-font-size-label-medium),
		),
	) !default;

	//css variable 생성
	@each $size, $types in $form-sort-size {
		@each $type, $value in $types {
			//css variable 생성
			--krds-form-sort--#{$type}-#{$size}: #{$value};
		}
	}

	//class 정의
	& {
		//사이즈 별 class
		@each $size, $types in $form-sort-size {
			&.#{$size} {
				input[type=radio] {
					~ label {
						padding: 0 var(--krds-form-sort--padding-x-#{$size});
						border-radius: var(--krds-form-sort--radius-#{$size});
						font-size: var(--krds-form-sort--pc-font-size-#{$size});
						@include mobile() {
							font-size: var(--krds-form-sort--mobile-font-size-#{$size});
						}
					}
				}
			}
		}
	}
}

//컬러 정의
@mixin form-sort-color-variable($mode: light) {
	--krds-form-sort--color-actiond: var(--krds-#{$mode}-color-action-secondary);
	--krds-form-sort--color-actiond-hover: var(--krds-#{$mode}-color-action-secondary-hover);
	--krds-form-sort--color-actiond-pressed: var(--krds-#{$mode}-color-action-secondary-pressed);
	--krds-form-sort--color-actiond-checked: var(--krds-#{$mode}-color-action-secondary-selected);
	--krds-form-sort--color-text: var(--krds-#{$mode}-color-text-basic);
}

//모드 설정
$mode-setting: light;
.form-sort {
	@include form-sort-size-variable();
	@include form-sort-color-variable(#{$mode-setting});



	$size: medium;
	input[type=radio] {
		~ label {
			padding: 0 var(--krds-form-sort--padding-x-#{$size});
			background-color: var(--krds-form-sort--color-actiond);
			border-radius: var(--krds-form-sort--radius-#{$size});
			font-size: var(--krds-form-sort--pc-font-size-#{$size});
			transition: var(--krds-transition-base);
			@include mobile() {
				font-size: var(--krds-form-sort--mobile-font-size-#{$size});
			}
		}
		&:hover {
			~ label {
				background-color: var(--krds-form-sort--color-actiond-hover);
			}
		}
		&:active {
			~ label {
				background-color: var(--krds-form-sort--color-actiond-pressed);
			}
		}
		&:checked {
			~ label {
				background-color: var(--krds-form-sort--color-actiond-checked);
				@include underline();
			}
		}
	}
}

//고대비모드
@include color-mode($mode: high-contrast) {
	//모드 설정
	$mode-setting: high-contrast;
	.form-sort {
		@include form-sort-color-variable(#{$mode-setting});
	}
}